*{
    margin: 0;
    padding: 0;
}

button{
    margin-left: 47.5%;
    margin-top: 25%;
    background-color: #E05D0B;
    color: white;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    opacity: 50%;
    
    

}

button:hover{
    opacity: 100%;
    transform: scale(1.08);
    cursor: pointer;
}


@media screen and (max-width:533px){

    tr{
        display: flex;
        flex-direction: column;

    }
    

}

@media screen and (max-width:431px){

    #jogos{

        margin-top: 80%;
        width: 100px;
        right: 37.3%;
        
        
    }

}


@media screen and (max-width:1122px){
    

  
    #voltar{
        display: none;
    }

    
}


@media screen and (max-width:1124px){
    .container{
        flex-direction: column;
        
    }
    header{
        height: 300px;
    }
    

    a{
        font-size: 32px;
    }

    
    #voltar{
        width: 3%;
        height: 6%;
    }
    
    button{
        width: 10%;
        height: 80px;
        position: absolute;
        right: 45%;
        top: 20%;
    }

    tr{
        font-size: 25px;
        flex-direction: column;
    }
    
}